APP_NAME=AudioService
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=db_audio
DB_PORT=3306
DB_DATABASE=db_audio
DB_USERNAME=audio_user
DB_PASSWORD=audio_password

AUDIO_ENCRYPTION_KEY=moustass2024audiokey!
AUTH_SERVICE_URL=http://auth_service:8000