APP_NAME=BillingService
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=db_billing
DB_PORT=3306
DB_DATABASE=db_billing
DB_USERNAME=billing_user
DB_PASSWORD=billing_password

AUTH_SERVICE_URL=http://auth_service:8000